body {
    font-family: 'heros';
    background-image: url(../img/marvel_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

@font-face {
    font-family: 'heros';
    src: url('../fonts/heroesassemble2.ttf') format('truetype');
}

.topText, #navbar {
    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: rgba(26, 28, 28, 0.83);
}

#marvel-cards {
    transition: transform 0.3s;
    border-radius: 10px;
    box-shadow: 0px 4px 20px black;
}

#marvel-cards:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 16px black;
}

/* Estilos para el título */
#title {
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
    color: #e62429;
    margin-top: 0px;
    font-weight: bold;
}

#intro {
    text-align: center;
    font-size: 25px;
    color: #e62429;
    padding: 20px;
}

#loadMore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
    margin-top: 80px;
    margin-bottom: 30px;
    width: 50%;
    font-family: 'heros';
    font-size: 40px;
    padding: 15x;
    cursor: pointer;
    background-color: red;
}

#loadMore:hover {
    background-color: white;
    color: red;
}