body {
    background-color: #000000;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 70px;
    justify-items: center;
}

/*Agrego fuente personalizada*/

@font-face {
    font-family: 'heros';
    src: url('../fonts/heroesassemble2.ttf') format('truetype');
}

/* Estilos para el título */
#title {
    font-family: 'heros';
    text-align: center;
    font-size: 50px;
    color: #e62429;
    margin-top: 20px;
    font-weight: bold;
}

#intro {
    font-family: 'heros';
    text-align: center;
    font-size: 25px;
    color: #e62429;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para las tarjetas de Marvel */

#marvel-cards {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ff0000' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    ;
    border: 2px solid #e62429;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#marvel-cards:hover {
    transform: scale(1.05);
}

.heroName {
    font-family: 'heros';
    font-size: 25px;
    margin-bottom: 10px;
    color: #e62429;
}

.heroImg {
    max-width: 50%;
    height: auto;
    flex-grow: 1;
    transition: transform 0.3s ease-in-out;
}

#marvel-cards:hover .heroImg {
    transform: scale(1.1);
}

#loadBtn {
    font-family: 'heros';
    margin-top: 80px;
    bottom: 10px;
    background-color: black;
    border: 2px solid red;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 30px;
    outline: none;
}

#loadBtn:hover {
    background-color: red;
    color: black;
}